* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#container {
  max-width: 100%;
}
/* responsive-nav */

.responsive-nav {
  display: none;
  color: #fff;
}

nav {
  width: 100%;
  height: 65px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

ul {
  list-style: none;
  font-size: 15px;
}

.nav ul {
  display: flex;
  align-items: center;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
}

nav li:hover:not(.uber-1) {
  background-color: #333333;
  padding: 9px 0;
  border-radius: 50px;
}

.fa-angle-down {
  margin-left: 10px;
}

.fa-earth-europe {
  margin-right: 12px;
  font-size: 15px;
}

.fa-user {
  margin-right: 10px;
}

.fa-bars {
  margin-right: 10px;
  font-size: 15px;
}

.uber-1 {
  font-size: 24px;
}

.log {
  background-color: #fff;
  padding: 9px 0;
  border-radius: 50px;
}

.log a {
  color: rgb(0, 0, 0);
}

nav li.log:hover {
  background-color: rgba(255, 255, 255, 0.808);
  margin-left: 10px;
}

header {
  position: relative;
  background-image: url(img-1.png);
  background-size: cover;
  height: 100vh;
}
/* start header section card */

.header-section {
  width: 540px;
  height: 570px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 195px;
  top: 146px;
}

.header-section li {
  cursor: pointer;
}

.header-section-card {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}

.header-section-card ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.header-section-card ul li:hover {
  border-bottom: 4px solid black;
  margin-right: 10px;
}

.header-section-card-content {
  margin: 33px;
}

.header-section-card-content h1 {
  font-size: 3rem;
}

.header-section-card-content button {
  padding: 15px 20px;
  color: #fff;
  background: #000;
  font-size: 17px;
  border: none;
}

.header-section-card-content p {
  margin: 40px 0;
  color: rgba(0, 0, 0, 0.719);
  cursor: pointer;
}

.header-section-card-content p:last-child {
  /* text-decoration: underline; */
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  display: -webkit-inline-box;
}

.header-section-card-content p:last-child:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.521);
}

.fa-signal {
  font-size: 22px;
  margin: 0 10px 15px 16px;
}

.fa-car {
  font-size: 22px;
  margin: 0 10px 8px 8px;
}

.fa-utensils {
  font-size: 22px;
  margin: 0px 0px 29px 5px;
}
/* end header */
/* start second section */

.second-section {
  background-image: url(tower3.jpg);
  height: 41vh;
  background-size: cover;
  padding-left: 190px;
}

.second-section h2 {
  font-size: 2rem;
  padding: 40px 0;
}

.second-section p {
  padding-bottom: 40px;
}

.second-section button {
  padding: 15px 20px;
  color: #fff;
  background: #000;
  border: none;
  font-size: 17px;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.747);
  margin-left: 10px;
}
/* start main */

main {
  width: 100%;
  height: auto;
}

main h2 {
  font-size: 2.5rem;
  margin: 50px 0 30px 175px;
  font-weight: lighter;
}

main h3,
p {
  margin: 30px 0;
}
/* start main with third class */

.third-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 135px;
}

main .third-img-one {
  width: 555px;
  height: 575px;
}

.third-img-one img {
  max-width: 100%;
}

.third-img-one ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .third-img-two {
  width: 555px;
  height: 575px;
}

main li a {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  text-decoration: none;
  padding-bottom: 5px;
}

main li a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.637);
  margin-left: 10px;
}

.third-img-two img {
  max-width: 100%;
}
/* end main and third-section */
/* start fourth section with fourth class */

.fourth {
  width: 100%;
  height: auto;
}

.fourth-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.over-ons,
.news-room,
.world {
  width: 382px;
  height: 325px;
  margin-top: 80px;
}

.fourth-part span {
  font-size: 1.6rem;
}

.fourth-part .fa-users,
.fa-newspaper,
.fa-house {
  font-size: 20px;
  margin-bottom: 20px;
}

.fourth-part li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  text-decoration: none;
  padding-bottom: 4px;
  color: #000;
}

.fourth-part li a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.637);
  margin-left: 10px;
}

.fourth-part p {
  margin-bottom: 47px;
}
/* end fourth section with fourth class */
/* start fifth section with fifth class */

.fifth {
  width: 100%;
  height: auto;
  background-color: rgb(246, 246, 246);
}

.mans {
  padding: 50px 0 20px 180px;
}

.mans h3 {
  font-size: 2rem;
  font-weight: bold;
}

.fifth-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-one,
.box-two {
  width: 550px;
  height: 200px;
  background-color: #fff;
  margin: 31px;
  border: 1px solid rgb(231, 223, 223);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.box-one img,
.box-two img {
  width: 150px;
}

.box-one span,
.box-two span {
  font-size: 1.5rem;
}

.fa-arrow-right {
  margin: 0 0 0 18px;
  font-size: 20px;
}
.fa-arrow-right:hover {
  border-left: 4px black;
  margin-left: 10px;
}
/* end start fifth section with fifth class */
/* start sixth section part */

.sixth {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.sixth > div {
  width: 550px;
  margin: 70px 30px 30px 30px;
  padding-bottom: 35px;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  cursor: pointer;
}

.sixth span {
  font-size: 35px;
}

.sixth .fa-arrow-right {
  font-size: 37px;
  margin-top: 10px;
}
.sixth .fa-arrow-right:hover {
  border-left: 4px black;
  margin-left: 10px;
}
/* end sixth section part */
/* start footer */

footer {
  width: 100%;
  height: auto;
  background-color: #000;
  color: #fff;
  padding: 80px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footer-div-one {
  width: 100%;
  margin: 0 0 30px 0;
  padding: 20px 0;
}

.footer-div-one span a {
  font-size: 23px;
}

.footer-div-one li {
  margin-top: 40px;
}
/* start footer footer-div-two class */

.footer-div-two {
  display: flex;
  max-width: 80%;
  justify-content: space-between;
}

.footer-div-two li {
  margin-bottom: 25px;
}

.footer-div-two span {
  font-weight: bold;
}

.footer-div-two a:hover {
  color: rgba(255, 255, 255, 0.541);
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media ul {
  display: flex;
}

.social-media ul:first-child {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.app-images img {
  width: 140px;
}

.fa-location-dot {
  margin: 0 10px 0 53px;
}

.fa-globe {
  margin: 0 10px 0 53px;
}

.fa-brands {
  cursor: pointer;
}

.fa-brands:hover {
  color: rgba(255, 255, 255, 0.432);
}

.location:hover {
  color: rgba(255, 255, 255, 0.616);
  margin-left: 10px;
}

.social-media ul li:hover {
  color: rgba(255, 255, 255, 0.568);
}

.last-line-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.last-line-footer ul {
  display: flex;
  font-size: 11px;
}

.last-line-footer ul li {
  margin: 0 15px;
}

.last-line-footer span {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.616);
}

.last-line-footer ul a:hover {
  color: rgba(255, 255, 255, 0.342);
  margin-left: 10px;
}

.last-line-footer a {
  color: rgba(255, 255, 255, 0.616);
}
/* end footer footer-div-two class */
/*  responsive smaller than 1100px. */

@media screen and (max-width: 1100px) {
  /* header nav */
  nav {
    padding: 0 15px;
  }
  .nav-first,
  .nav-secend {
    display: none;
  }
  .responsive-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .log-responsive {
    background-color: #fff;
    padding: 9px 0;
    margin: 0 16px;
    border-radius: 50px;
  }
  .log-responsive a {
    color: #000;
  }
  .responsive-nav-two ul {
    display: flex;
    align-items: center;
  }
  .responsive-nav h2 {
    cursor: pointer;
  }
  .responsive-nav-two ul :nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.89);
    cursor: pointer;
  }
  .responsive-nav-two .fa-bars:hover {
    background-color: rgba(216, 216, 216, 0.342);
    cursor: pointer;
  }
  .responsive-nav-two .fa-user:hover {
    cursor: pointer;
    background-color: rgba(216, 216, 216, 0.342);
  }
  .header-section {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    position: initial;
  }
  .header-section-card ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .header-section li {
    cursor: pointer;
    margin: 22px;
  }
  .header-section-card {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
  }
  .header-section-card-content p {
    margin: 20px 0;
  }
  .header-section-card-content {
    margin: 20px;
    padding: 15px 0;
  }
  .header-section-card-content p:last-child {
    margin-left: 15px;
  }
  header {
    background-image: initial;
    height: auto;
  }
  .resp-2 {
    height: 50vh;
    background-image: url(img-1.png);
    background-size: cover;
  }
  /* end header */
  /* start section */
  .second-section {
    padding-left: 27px;
  }
  /* end section */
  /* start main */
  main h2 {
    font-size: 2.2rem;
    margin: 35px 0 30px 22px;
    font-weight: lighter;
  }
  /* third-section class in the main */
  .third-section {
    margin: 0px 30px;
  }
  main .third-img-one,
  .third-img-two {
    margin: 10px;
  }
  .third-img-one ul {
    flex-direction: column;
  }
  .third-img-one ul li {
    margin: 10px 0;
  }
  /* end main */
  /* start fourth section with fourth class */
  .fourth-part {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 34px;
  }
  .over-ons,
  .news-room,
  .world {
    width: 305px;
    height: 218px;
    margin: 0 0 47px 0;
  }
  /* end fourth section with fourth class */
  /* start fifth section with fifth class */
  .mans {
    padding: 50px 0 20px 28px;
  }
  .fifth-boxes {
    flex-wrap: wrap;
    justify-content: initial;
  }
  .box-one,
  .box-two {
    width: 100%;
    height: 120px;
    margin: 27px;
    padding: 0 78px 0 24px;
    justify-content: space-between;
    padding: 0 24px;
  }
  .box-one img,
  .box-two img {
    width: 100px;
    margin-right: 38px;
  }
  /* start footer */
  footer {
    padding: 23px;
  }
  .footer-div-two {
    width: 60%;
    flex-wrap: wrap;
  }
  .bedrijf,
  .product,
  .veilig,
  .reizen {
    width: 170px;
  }
  .social-media {
    align-items: flex-start;
    flex-direction: column;
  }
  .social-media ul:first-child {
    margin: 55px 0;
  }
  .social-media ul {
    display: block;
  }
  .fa-globe {
    margin: 0 10px 0 0;
  }
  .fa-location-dot {
    margin: 18px 12px 47px 2px;
  }
  .last-line-footer {
    display: block;
  }
  .last-line-footer ul {
    margin: 46px 0;
  }
  .last-line-footer ul li:first-child {
    margin-left: 0;
  }
}
/*  responsive smaller than 600px. */

@media screen and (max-width: 600px) {
  /* start header */
  .header-section-card-content h1 {
    font-size: 2rem;
  }
  .header-section-card-content p:last-child {
    margin-left: 0;
  }
  /* header img */
  .resp-2 {
    height: 40vh;
  }
  /* second section */
  .second-section {
    padding-left: 6px;
  }
  /* start main */
  main h2 {
    font-size: 1.8rem;
    margin: 35px 0 30px 10px;
  }
  .third-section {
    display: block;
    margin: 0;
  }
  main .third-img-one {
    width: 410px;
  }
  main .third-img-two {
    width: 410px;
  }
  main h3 {
    font-size: 1rem;
  }
  /* start fifth section */
  .mans {
    padding: 50px 0 20px 13px;
  }
  .mans h3 {
    font-size: 1.2rem;
  }
  /* end main */
  /* start fourth section */
  .fourth-part {
    padding-left: 14px;
  }
  /* end fourth section */
  /* start fifth section */
  .box-one,
  .box-two {
    margin-left: 10px;
  }
  .box-one span,
  .box-two span {
    font-size: 1.2rem;
  }
  /* end fifth section */
  /* start sixth section */
  .sixth {
    display: block;
    margin-bottom: 35px;
  }
  .sixth > div {
    width: 400px;
    margin: 23px 0 10px 14px;
  }
  .sixth span {
    font-size: 27px;
  }
  .sixth .fa-arrow-right {
    font-size: 22px;
    margin-top: 20px;
  }
}
